*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#headerSection{
    font-size: 20px;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #929090ef;
    padding: 16px;
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 1;
}
a{
    text-decoration: none;
    color: #000000;
}
#headerSection span:hover{
    background-color: #9b9494ce;
}
#headerItems{
    display: inline-block;
    position: absolute;
    right: 50px;
}
#title{
    margin-left: 12px;
}
#headerItems>a{
    margin-right: 16px;
}
#bannerSection{
    position: relative;
}
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Projects*/
main{
    margin: 0px 20px;
}
.sectionTitle{
    font-weight: 100;
    margin-bottom: 20px;
}
.horizontalrule{
    opacity: 0.2;
}

/*houses*/
#houses{
    margin: 30px 30px 50px 30px;

}
section{
    display: inline-block;
    width: 270px;
    margin-right: 16px;
    margin-bottom: 20px;
}
img{
    width: 100%;
}

/* AboutUs */
.aboutus{
    margin: 16px;
    font-weight: 200;
    text-align: justify;
}
h3{
    font-weight: 100;
    margin-bottom: 12px;
}
button{
    width: 100%;
    padding: 10px;
    border: 0px;
}
.role{
    margin-bottom: 12px;
    opacity: 0.5;
}
p{
    font-size: 15px;
    margin-bottom: 12px;
}
.formcontainer{
    margin-bottom: 40px;
}
.formInput{
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 12px;
}
.submitbutton{
    background-color: #000000;
    padding: 10px;
    color: #ffffff;
    border: 2px solid #000000;
    width: 15%;
}
.map{
    /* height: 80%; */
    width: 100%;
}
.footer{
    height: 80px;
    background-color: #000000;
}
.footerpara{
    color: #ffffff;
    text-align: center;
    padding: 35px;
}
.link{
    color: #ffffff;
}